@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: #2b3058;
    z-index: 1;
    transform: translateX(-110%);
    transition: all 0.5s ease-in-out;
  }
  .show-menu {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
  }

  .menu li {
    margin: 1em;
  }

  .toggle-menu {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #close-menu {
    display: none;
  }

  .toggle-menu i {
    font-size: 1.5rem;
    margin: 10px;
  }

  .main {
    margin-top: -100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .oculte-p {
    display: none;
  }
  .main img {
    margin-left: -90px;
    width: min(55%, 21.875rem);
  }
  .info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: -70px;
  }
  .info-content .junior {
    font-size: 15px;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 32ch;
    animation: typing 3s steps(15), blink 0.8s infinite step-end alternate;
    overflow: hidden;
  }
  .btn {
    margin-top: 15px;
  }
  .about-container {
    margin-top: -350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .about-info h2 {
    font-size: 1.8rem;
    width: 60%;
  }

  .about-info p {
    color: black;
    text-align: center;
    width: 80vw;
  }
  .center-tecno {
    width: 60vw !important;
    /* margin-top: -1rem; */
  }
  .container-skill {
    /* border: 1px solid #ccc; */
    width: 70%;
    margin: 0 auto 70px auto;
  }

  .icon {
    /* border: 1px solid white; */
    width: 17vw;
    border-radius: 12px;
    box-shadow: rgba(22, 22, 21, 0.966) 5px 5px;
    background-color: black;
    cursor: pointer;
  }

  .kill .icon p {
    display: none;
  }

  .container-project .portafolio {
    /* border: 1px solid #ccc; */
    width: 60%;
    margin: -100px 0 130px 0;
  }

  .container {
    /* border: 1px solid #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px !important;
  }

  .contact-section .contact h2 {
    border: 1px solid #ccc;
    margin-top: 50px;
    width: 50% !important;
  }

  .project {
    width: 100vw;
    /* padding: 3em; */
    /* border: 1px solid #fff; */
    margin: 30px 0 50px 0;
    justify-content: center;
    align-items: center;
  }
  .card {
    /* border: 1px solid white; */
    margin-left: 70px;
  }
  .project .portafolio {
    margin-top: 20px;
  }

  .contact-form {
    margin-top: 50px;
  }

  .form input {
    padding: 0.625rem 1.25rem;
    width: 40vw;
  }

  .form textarea {
    height: 9.6875rem;
    width: 40vw;
  }
  .btn-submit {
    width: 40vw;
  }
}
