* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  transition: all 0.5s;
  font-size: 16px;
}

/* DARKMODE */

body.darkmode {
  background-color: #191c32;
  color: white;
}

.darkmode .navbar h2 {
  color: white;
}

.darkmode .menu li a {
  color: white;
}

.darkmode .menu a:hover {
  color: #191c32;
  background-color: white !important;
  text-decoration-line: none;
  border-radius: 6px;
}
.darkmode .moon button iconify-icon {
  color: orange !important;
}

.darkmode main h1 {
  color: white;
}

.darkmode main p {
  color: white;
}

.darkmode .about-container p {
  color: white;
}

.darkmode form input {
  color: white;
  border-color: white;
}
.darkmode form textarea {
  color: white;
  border-color: white;
}
.darkmode form button {
  color: white;
  min-width: 130px;
  height: 40px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: orange;
  box-shadow: 0 5px black;
}

.darkmode form button:hover {
  background-color: white;
  color: black;
}

.darkmode footer p {
  color: black;
}

.darkmode .info-content .junior {
  color: white;
}

.darkmode .btn:hover {
  background-color: white;
  color: black;
}
/* DARKMODE */

.toggle-menu {
  display: none;
}

.moon {
  /* border: 1px solid black; */
  width: 5rem;
  display: flex;
  justify-content: center;
}

.moon button {
  border: none;
  background: none;
  cursor: pointer;
}

/* IDIOMA */

.flags {
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  width: 75px;
  align-items: center;
}

.flags img {
  width: 2.7rem;
  padding: 0.3125rem;
  cursor: pointer;
  display: block;
  margin: 9px;
  /* border: 1px solid #fff; */
}

/* skills */

.idiomas iconify-icon {
  font-size: 2rem;
  width: 2.5rem;
  padding: 0.3125rem;
  /* border: 1px solid #fff; */
}
/* NAVBAR */

.wrapper {
  width: 100vw;
  height: 100vh;
}

.brand {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand span {
  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  /* border: 1px solid #000; */
}

.menu li a {
  color: black;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  transition: ease-in 0.4s;
  font-size: 18px;
  /* border: 1px solid black; */
}

.menu li a:hover {
  background-color: black;
  color: white;
  text-decoration-line: none;
  border-radius: 6px;
}

.menu li {
  list-style: none;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
}

/* MAIN */

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-right: 11px;
}
strong {
  margin: 20px 0px 20px 0px;
}

.info-content .junior {
  color: black;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 32ch;
  font-size: 20px;
  animation: typing 3s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.main p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
}

span {
  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  min-width: 130px;
  height: 40px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: orange;
  box-shadow: 0 5px black;
}

.btn:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}

.main img {
  width: 21.875rem;
  border-radius: 50%;
  margin-left: 1.76rem;
}

/* ABOUT ME */

.about-container {
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  margin-bottom: 4.125rem;
}

.about {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px 0;
  /* border: 1px solid #ccc; */
}

.center-about {
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
}

.about-info {
  padding: 5em;
}
.about-info h2 {
  font-size: 2em;
  color: white;
  border: 1px solid orange;
  text-align: center;
  width: 36%;
  background-color: black;
}
.about-info p {
  margin-top: 4rem;
  color: black;
  margin-bottom: 1em;
  text-align: center;
  /* border: 1px solid black; */
}

/* PROYECT */
#Project {
  border: 1px solid orange;
  text-align: center;
}

.project {
  width: 100vw;
  padding: 5em;
  /* border: 1px solid #fff; */
  margin: 30px 0 50px 0;
}
.project p {
  color: white;
  text-align: center;
}

.project .portafolio {
  /* border: 1px solid #ccc; */
  width: 20%;
}
.container-project {
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project .container {
  /* border: 1px solid #ccc; */
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 18.75rem;
  background-color: black;
  height: 21rem;
  margin: 1em;
  /* border: 1px solid white; */
}

.card_img {
  width: 100%;
  height: 9.375rem;
  background-size: cover;
}

.card_title {
  padding: 1.25rem;
}

.proyect_link {
  display: flex;
  justify-content: space-evenly;
}

.proyect_link a {
  color: #fff;
  text-decoration: none;
}

.proyect_link i {
  font-size: 1.5em;
}

/* CONTACT */

#Contact {
  border: 1px solid orange;
  text-align: center;
  width: 20%;
}
.contact {
  /* border: 1px solid #eee; */
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
}

.contact-form {
  /* border: 1px solid #ccc; */
  display: flex;
  place-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form input {
  padding: 0.625rem 1.25rem;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

.form textarea {
  height: 9.6875rem;
  background: none;
  color: black;
  padding: 1.5em;
  /* border: 1px solid #eee; */
}

.btn-submit {
  text-transform: uppercase;
  padding: 0.725rem 1.25rem;
  margin: 1em;
  margin-bottom: 40px;
  color: black;
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: orange;
  box-shadow: 0 5px black;
}

.btn-submit:hover {
  background-color: black;
  color: white;
}

/* footer */

.footer {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8rem;
  text-align: center;
  /* margin: 7px; */
}

.sotial i {
  font-size: 2.2em;
  cursor: pointer;
}
.sotial a {
  text-decoration: none;
  color: black;
}
.sotial i:hover {
  color: white;
}

.sotial {
  display: flex;
  justify-content: space-around;
  width: 18.75rem;
  margin-bottom: 9px;
}

/* SKILLS */

#Tecnologies {
  border: 1px solid orange;
  width: 80%;
  margin-top: 1rem;
}
.center-tecno {
  display: flex;
  justify-content: center;
}

/* BORDER RA */

.bor {
  text-align: center;
  border-radius: 0.75rem;
  box-shadow: rgba(248, 134, 3, 0.966) 5px 5px,
    rgba(247, 169, 2, 0.767) 10px 10px;
}

/* PRUEBA */

.container-skill {
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  width: 100%;

  padding: 15px;
}

.kill {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
  /* border: 1px solid #ccc; */
  width: 80%;
}

.icon {
  /* border: 1px solid white; */
  display: flex;
  padding: 9px;
  margin: 10px;
  width: 18vw;
  border-radius: 12px;
  box-shadow: rgba(22, 22, 21, 0.966) 5px 5px;
  background-color: black;
  cursor: pointer;
}

.kill .icon p {
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 18px;
  /* border: 1px solid #ccc; */
}

.cen {
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
